* {
    margin: 0%;
    padding: 0%;
}

body {
    width: 1600px;
    box-sizing: border-box;
}

body,
.headernav,
.filter button {
    color: #212121;
}

header a,
address a,
address p {
    font-style: normal;
    text-decoration: none;
}

.webs {
    font-family: 'Raleway',
        sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 44px;
}

.servicebtn,
.theader,
h2,
.webs,
.findus span,
.wedopic div span,
.title,
.titleb,
.modalcontent button,
.suscform label,
.suscribe {
    font-weight: 700;
}

.headernav,
.active,
header>div,
.name,
.filter button {
    font-weight: 500;
}

.tdata,
.position,
address p,
.footeradd,
.category,.window,
.modalcontent label,
.comment::placeholder,
.suscmail::placeholder,
.agree p{
    font-weight: 400;
}

.webs:hover,
.webs:focus {
    color: blueviolet;
}

.headernav:hover,
.mail a:hover,
.phone a:hover,
.footeradd:hover,
.headernav:focus,
.mail a:focus,
.phone a:focus,
.footeradd:focus,
.webs,
.servicebtn:hover,
.servicebtn:focus {
    color: #2196F3;
    fill: #2196F3;
}

.servicebtn:hover,
.servicebtn:focus,
.ourteamfig figure,
.modal,
.figdata div {
    background-color: #fff;
}

.mail a,
.phone a,
.tdata,
.position,
.category {
    color: #757575;
    fill: #757575;
}

footer {
    background-color: #2F303A
}

h1,
.servicebtn,
address p,
.filter button:hover,
.filter button:focus,
.findus span,
.wedopic div span,
.modalcontent button {
    color: #fff;
}

.servicebtn {
    border-style: none;
    padding: 10px 2px;
    height: 50px;
    width: 200px;
}

.servicebtn,
.category,
.modalcontent button {
    line-height: 1.88;
}
body,
.filter button,
.servicebtn,
.clientsicon div,
.clientsicon div:hover,
.modalcontent button,
.modalcontent label,
.suscribe,
.comment::placeholder,
.suscmail::placeholder,
.agree p {
    font-family: 'Roboto',
        sans-serif;
}
.modal,
.filter button,
.servicebtn,
.clientsicon div,
.clientsicon div:hover,
.modalcontent button,
.suscmail,
.suscribe,
#clientname,
#clientphone,
#clientmail,
#clientcomment,
#clientname:focus,
#clientphone:focus,
#clientmail:focus,
#clientcomment:focus{
    border-radius: 4px;
}

.footeradd {
    color: #ffffff99;
}

.webs {
    font-size: 26px;
}

.headernav,
.active,
.mail a,
.phone a,
.theader,
.tdata,
address p,
.footeradd,
.findus span,
.wedopic div span {
    font-size: 14px;
}

.servicebtn,
.name,
.position,
.filter button,
.category,
.titleb,
.modalcontent button,
.suscribe,
.suscmail::placeholder,
#clientname,
#clientphone,
#clientmail {
    font-size: 16px;
}

h2 {
    font-size: 36px;
}

.title, .window {
    font-size: 18px;
}

header nav,
.mail a,
.phone a,
.theader,
h2,
.name,
.position,
.webs,
.findus span,
.clients h2,
.wedopic div span,
.modalcontent h2,
.modalcontent label,
.suscform label,
.comment::placeholder {
    line-height: 1.17;
}

h1 {
    line-height: 1.36;
}

.tdata,
address p,
.footeradd {
    line-height: 1.71;
}

.servicebtn,
.filter button,
.icon-sobre,
.icon-telfono,
.icon-instagram,
.icon-facebook,
.icon-linkedin,
.icon-twitter,
.icon-logo01,
.icon-logo02,
.icon-logo03,
.icon-logo04,
.icon-logo05,
.icon-logo06,
.ourteamicons a:hover,
.footericons a:hover,
.clientsicon div,
.clientsicon div:hover,
.close,
.modalcontent button,
.suscmail,
.suscribe,
#clientname,
#clientphone,
#clientmail,
#clientcomment{
    cursor: pointer;
}

.filter button {
    line-height: 1.63;
}
.filter button,
.modalcontent button,
.suscribe{
    border: none;
}
.title,
.titleb {
    line-height: 2;
}

.filter button,
.ourteam,
.featicon {
    background-color: #F5F4FA;
}

.filter button:hover,
.filter button:focus,
.servicebtn,
.ourteamicons a:hover,
.footericons a:hover,
.modalcontent button,
.suscribe,
.check {
    background-color: #2196F3;
}

header {
    box-sizing: content-box;
    border-bottom: 1px solid #ececec;
}

main,
header,
header nav,
.headercontact,
.wedo,
.wedopic,
.wedopic div,
.ourteam,
.ourteamfig,
.section,
.footeradd,
.container,
.solutions,
.features,
.mail a,
.phone a,
.featicon,
.ourteamicons,
.clients,
.clientsicon,
footer,
.findus,
.footericons,
.ourteamicons a,
.ourteamicons a:hover,
.footericons a,
.footericons a:hover,
.clientsicon div,
.clientsicon div:hover,
.active::after,
.backdrop,
.close,
.row1,
.row2,
.row3,
.modalcontent,
.modalform,
.suscription,
.suscform,
.suscribe,
.agree,
.check,
.name,
.phone,
.email {
    display: flex;
}

header,
header nav,
.headercontact,
.wedopic,
.ourteamfig,
.mail a,
.phone a,
.features,
.clientsicon,
.footericons,
.row1,.row2,.row3{
    justify-content: space-between;
}

header nav {
    width: 531px;
    padding-left: 215px;
}

.webs {
    padding: 25px 0px;
}

.headernav {
    padding: 32px 0px;
}

header nav,
.headercontact {
    box-sizing: inherit;
}

main,
header nav,
.headercontact,
.section,
.container,
.solutions,
.wedo,
.phone a,
.mail a,
.clients,
footer,
.ourteamicons a,
.ourteamicons a:hover,
.footericons a,
.footericons a:hover,
.clientsicon div,
.clientsicon div:hover,
.backdrop,
.close,
.modalcontent,
.check,
.suscribe {
    align-items: center;
}

.headercontact {
    width: 329px;
    padding-right: 219px;
}

.solutions,
.wedo,
.wedopic,
.wedopic div,
.ourteam,
.ourteamfig,
.section,
.clients,
.clientsicon,
.backdrop,
.row1,
.row2,
.row3,
.modalform {
    width: 100%;
}

main,
.wedo,
.section,
.container,
.solutions,
.clients,
.findus,
.wedopic div,
.modalcontent,
.modalform,
.suscform,
.name,
.phone,
.email {
    flex-direction: column;
}

.container {
    width: 1200px;
}

.ourteam {
    padding: 94px 0px;
}

h1 {
    margin-bottom: 30px;
}

.section {
    padding: 94px 0px;
}

address {
    padding: 60px 70px 60px 215px;
}

.solutions {
    background: url('../images/pic01hw04.jpg'), rgba(47, 48, 58, 0.4);
    padding: 200px 0px;
    margin-top: 16px;
}

.features {
    margin: 78px 0px 80px 0px;
}

.featuressection {
    width: 22.5%;
}

.theader {
    padding: 30px 0px 10px 0px;
}

.ourteam h2,
.filter,
.wedo h2,
.clients h2 {
    padding-bottom: 50px;
}

.name,
.position,
h1,
.wedopic div span {
    text-align: center;
}

.ourteamfig figcaption {
    padding: 30px 0px;
}

.name {
    padding-bottom: 10px;
}

address>.webs {
    padding-bottom: 9px;
}

address p {
    padding-bottom: 5px;
}

.filter button {
    padding: 6px 24px;
}

.ourteamfig figure {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.filter button:hover,
.filter button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.icon-sobre {
    width: 16px;
    height: 12px;
}

.icon-telefono {
    width: 10px;
    height: 16px;
}

.mail a {
    width: 161px;
}

.phone a {
    width: 138px;
}

.icon-antena,
.icon-reloj,
.icon-diagrama,
.icon-astronauta {
    width: 70px;
}

.wedo {
    margin-bottom: 94px;
}

.ourteamicons {
    padding-top: 16px;
    justify-content: space-around;
}

.icon-instagram,
.icon-facebook,
.icon-twitter,
.icon-linkedin {
    width: 20px;
    height: 20px;
}

.icon-logo01,
.icon-logo02,
.icon-logo03,
.icon-logo04,
.icon-logo05,
.icon-logo06 {
    width: 106px;
    height: 60px;
}

.findus {
    width: 206px;
    padding: 72px 0px 100px 0px;
}

.findus span {
    padding-bottom: 20px;
}

.ourteamicons a,
.ourteamicons a:hover,
.footericons a,
.footericons a:hover {
    width: 44px;
    height: 44px;
}

.ourteamicons a:hover,
.footericons a,
.footericons a:hover,
.icon-send,
.icon-check {
    fill: #fff;

}
.close,
.ourteamicons a:hover,
.footericons a,
.footericons a:hover{
    border-radius: 50%;
}
.footericons a {
    background-color: #ffffff1a;
}

.clientsicon div {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
}

.clientsicon div:hover {
    width: 170px;
    height: 92px;
    fill: #2196F3;
}

.clientsicon div:hover,
.ourteam,
.featicon,
.ourteamicons a,
.ourteamicons a:hover,
.footericons a,
.footericons a:hover,
.clientsicon div,
.backdrop,
.close,
.check,
.suscform,
.suscribe {
    justify-content: center;
}

.clientsicon div,
.ourteamicons a {
    fill: #AFB1B8;
}

.featicon {
    padding: 25px 0px;
}

.wedopic div span {
    background: rgba(47, 48, 58, 0.8);
    box-sizing: border-box;
    padding: 27px 79px;
    top: -70px;
}
.wedopic div span,
.figdata div,
.window,
.close,
.modalcontent,
.check,
.icon-person,
#clientname,
#clientphone,
#clientmail,
.icon-phone,
.icon-mail{
    position: relative;
}
.wedo div span {
    width: 370px;
}

.icon-antena,
.icon-reloj,
.icon-diagrama,
.icon-astronauta,
.wedopic div span {
    height: 70px;
}

.wedopic div {
    height: 294px;
}

.active {
    color: #2196F3;
    padding-top: 31px;
}

.active::after {
    content: "";
    border: 2px solid #2196F3;
    margin-top: 28px;
}
.active::after,
.check{
    border-radius: 2px;
}
.backdrop{
    z-index: 1;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
}
.backdrop {
    visibility: visible;
    opacity: 1;
    height: 100%;
    position: fixed;
    transform: scale(1);
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    width: 528px;
}
.close {
    width: 30px;
    height: 30px;
    border: 1px solid #0000001a;
    top: 8px;
    right: -490px;
}
.icon-vector {
    fill: #000;
    width: 11px;
    height: 11px;
}
.row1,.row2{
    padding-bottom: 30px;
}
.portimg{
    width: 370px;
    height: 410.5px;
    overflow: hidden; 
    border: 1px solid #eee;
}
.figdata div{
    padding: 20px 24px;
    height: 110px;
    z-index: 2;
}
.window{
    width: 368px;
    height: 294px;
    background-color: hsl(207, 90%, 54%, 90%);
    padding: 63px 24px;
    line-height: 1.55;
    color:#fff;
    top: -110px;
    z-index: 1;
    transform: translateY(0px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portimg:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portimg:hover .window{
    transform: translateY(-298px);
}
.modalcontent h2{
    font-size: 20px;
    margin-bottom: 12px;
}
.modalcontent button{
    width: 200px;
    height: 50px;
    padding: 10px 75px;
    margin-top: 10px;
}
.modalcontent{
    padding: 17px 40px 40px 40px;
}
.modalcontent label{
    font-size: 12px;
    color: #757575;
    margin-bottom: 4px;
}
.suscription{
    margin-left: 93px;
}
.suscform{
    margin-right: 12px;
}
.suscform label{
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px;
}
.suscmail{
    width: 358px;
    height: 50px;
    outline: none;
    border: 1px solid #ffffff4d;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: hsl(0, 0%, 0%, 0%);
    padding-left: 16px;
}
.icon-send{
    width: 24px;
    height: 24px;
    margin-left: 20px;
}
.suscribe{
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    line-height: 1.88;
    color: #fff;
    margin-top: 36px;
}
.comment::placeholder{
    font-size: 12px;
    color: #75757580;
}
.suscmail::placeholder{
    line-height: 1.25;
    color: #ffffff99;
}
.agree p{
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}
.agree{
    margin-top: 20px;
}
.icon-square{
    width: 16px;
    height: 15px;
}
.icon-check{
    width: 11px;
    height: 18px;
}
.check.hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.check{
    width: 16px;
    height: 16px;
    top: -20px;
}
.agreeicon{
    padding: 4px 7px 0px 13px;
}
#check:target{
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}
.icon-person{
    width: 12px;
    height: 12px;
    top: -26px;
    left: 15px;
}
#clientname,
#clientphone,
#clientmail{
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    z-index: 1;
    background-color: hsl(0, 0%, 0%, 0%);
    padding-left: 42px;
    width: 448px;
    height: 40px;
} 
    #clientcomment{
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    width: 448px;
    height: 120px;
    resize: none;
    padding: 12px 16px;
}
.clientsicon div:hover,
#clientname:focus,
#clientphone:focus,
#clientmail:focus,
#clientcomment:focus{
    border: 1px solid #2196F3;
}
.name:focus-within,
.phone:focus-within,
.email:focus-within{
    fill: #2196F3;
}
.name,.phone,.email{
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
}
.icon-phone{
    width: 13px;
    height: 13px;
    top: -26.5px;
    left: 14.27px;
}
.icon-mail{
    width: 15px;
    height: 12px;
    top: -26px;
    left: 13.5px;
}
